docker/db/data/

backend/target/
backend/project/target/
backend/project/project/
backend/.bsp/
backend/.bsp/*
backend/.metals/
backend/.metals/*

.metals/
.bloop/
.vscode/
target/
*.class
*.semanticdb
