docker/db/data/

backend/target/
backend/project/target/
backend/project/project/
backend/.bsp/
backend/.bsp/*
backend/.metals/
backend/.metals/*

backend/logs/
backend/logs/*

.bsp/
.bsp/*

.metals/
.bloop/
.vscode/
target/
*.class
*.semanticdb

# Dev Containers
devcontainer.json
